<!DOCTYPE html>
<html data-ng-app="App">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Campus Study</title>
        <link rel="icon" href="favicon.ico" type="icon">
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="jumbotron.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    </head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="assets/js/app.js"></script>
    <body>
        <form action="/updateUser" method="POST" enctype=multipart/form-data>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="http://i.imgur.com/dMqJQI8.png" width="200" class="pull-left" height="55" />
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                    <a class="navbar-brand" href="/Home"><font size="5">Home</font></a>
                    <a class="navbar-brand" href="/Search"><font size="5">Search</font></a>
                    <a class="navbar-brand" href="/Profile" style="display: block;"><font size="5">Profile</font></a>
                    <a class="navbar-brand" href="/myGroups" style="display: block;"><font size="5">Groups</font></a>
                    <a class="navbar-brand" href="/myEvents" style="display: block;"><font size="5">Events</font></a>
                    <a class="navbar-brand" href="/logout" style="display: block;"><font size="5">Log Out</font></a>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <a href="/Notification" >
                            <img src="http://i.imgur.com/snBnAKg.png" width="70em" height="60" class="" />
                        </a>
                    </ul>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </div>
        <div class="jumbotron">
            <div class="container">
                <div class="row" style="height:100%; background-color:">
                    <div class="pull-left text-left col-md-offset-0 col-md-push-0 col-md-pull-0 col-md-4">
                        <div class="container" data-ng-controller="ProfileCtrl">
                            <div class="form-group">
                                <label class="control-label" for="formInput100">Profile Name:</label>
                                <input type="text" class="form-control" name="inputName" id="inputName" placeholder="Insert Full Name" data-ng-repeat="profile in profiles" value="{{profile.name}}">
                            </div>
                            <img class="pull-left" width="300" height="300" data-ng-repeat="profile in profiles" src="{{profile.profilePic}}">
                            <p><input type="file" id="file"name="file"></p>
                            <small class="text-left" style="word-wrap: break-word" data-ng-repeat="profile in profiles">{{profile.email}}</small>
                        </div>
                        <br>
                    </div>
                    <div class="col-md-4" data-ng-controller="ProfileCtrl">
                        <dl style="display: block;">
                            <div class="form-group" >
                                <label class="control-label" for="inputMajor">Major:</label>
                                <input type="text" class="form-control" name="inputMajor" id="inputMajor" placeholder="Enter Major" data-ng-repeat="profile in profiles" value="{{profile.major}}">
                            </div>
                            <div class="form-group" >
                                <label class="control-label" for="inputFaculty">Faculty:</label>
                                <select name="inputFaculty" id="inputFaculty" class="form-control">

                                    <option>Biology</option>
                                    <option>Engineering</option>
                                    <option>Math</option>
                                    <option>Arts</option>
                                    <option>History</option>
                                    <option>Chemistry</option>
                                    <option>Physics</option>
                                    <option>Geology</option>
                                    <option>Economy</option>
                                    <option>Computer Science</option>
                                    <option>Other</option>
                                </select>
                            </div>
                            <div class="form-group" >
                                <label class="control-label" for="inputEmail">Email:</label>
                                <input type="text" class="form-control" name="inputEmail"id="inputEmail" placeholder="Enter a valid .edu email" data-ng-repeat="profile in profiles" value="{{profile.email}}">
                            </div>
                            <div class="form-group" >
                                <label class="control-label" for="inputPassword">Change Password: (Optional)</label>
                                <input type="password" class="form-control" name="inputPassword" id="inputPassword" placeholder="Enter New Password" >
                            </div>
                            <div class="form-group" >
                                <label class="control-label" for="inputVerPassword">Verify New Password: (Optional)</label>
                                <input type="password" class="form-control" name="inputVerPassword" id="inputVerPassword" placeholder="Enter New Password Again" >
                            </div>
                            <div class="form-group" >
                                <label class="control-label" for="inputCurPassword">Enter Current Password:</label>
                                <input type="password" class="form-control" name="inputCurPassword" id="inputCurPassword" placeholder="Enter Current Password" required>
                            </div>
                        </dl>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" data-ng-controller="ProfileCtrl">
                            <label class="control-label" for="inputBio">Bio:</label>
                            <textarea class="form-control" rows="10" name="inputBio" id="inputBio" placeholder="Enter Bio" data-ng-repeat="profile in profiles">{{profile.bio}}</textarea>
                        </div>
                         <input class="btn btn-lg btn-success" type="submit" value="Update" role="button">
                         <script type="text/javascript">
                        window.onload = function () {
                        	document.getElementById("inputPassword").onchange = validatePassword;
                        	document.getElementById("inputVerPassword").onchange = validatePassword;
                        	document.getElementById("inputName").onchange = validateEntry;
                        	document.getElementById("inputEmail").onchange = validateEntry;
                        	document.getElementById("inputMajor").onchange = validateEntry;
                        }
                        function validatePassword(){
                        var pass2=document.getElementById("inputVerPassword").value;
                        var pass1=document.getElementById("inputPassword").value;
                        if(pass1!=pass2)
                        	document.getElementById("inputPassword").setCustomValidity("Passwords Don't Match");
                        else
                        	document.getElementById("inputPassword").setCustomValidity('');
                        //empty string means no validation error
                        }
                        function validateEntry(){
                        var name=document.getElementById("inputName").value;
                        var email=document.getElementById("inputEmail").value;
                        var major=document.getElementById("inputMajor").value;
                        if(name.trim()==''){
                            document.getElementById("inputName").setCustomValidity("Please enter your name");
                        }
                        else if(email.trim() == ''){
                        document.getElementById("inputEmail").setCustomValidity("Please enter a valid @upr email");
                        }
                        else if(major.trim() == ''){
                        document.getElementById("inputMajor").setCustomValidity("Please enter your major");
                        }
                        else{
                            document.getElementById("inputName").setCustomValidity('');
                            document.getElementById("inputEmail").setCustomValidity('');
                            document.getElementById("inputMajor").setCustomValidity('');
                        }
                        }
                        </script>
                    </div>
                </div>
            </div>
            <br>
        </div>

        </form>
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <!-- /container -->
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
