<!DOCTYPE html>
<html data-ng-app="App">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Campus Study</title>
        <link rel="icon" href="favicon.ico" type="icon">
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/LayoutBeta.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="jumbotron.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="assets/js/app.js"></script>
    </head>
    <body >
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="http://i.imgur.com/dMqJQI8.png" width="200" class="pull-left" height="55" />
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                    <a class="navbar-brand" href="/Home"><font size="5">Home</font></a>
                    <a class="navbar-brand" href="/Search"><font size="5">Search</font></a>
                    <a class="navbar-brand" href="/Profile" style="display: block;"><font size="5">Profile</font></a>
                    <a class="navbar-brand" href="/myGroups" style="display: block;"><font size="5">Groups</font></a>
                    <a class="navbar-brand" href="/myEvents" style="display: block;"><font size="5">Events</font></a>
                    <a class="navbar-brand" href="/logout" style="display: block;"><font size="5">Log Out</font></a>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <a href="/Notification" >
                            <img src="http://i.imgur.com/snBnAKg.png" width="70em" height="60" class="" />
                        </a>
                    </ul>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </div>
        <div class="container">
            <div class="pull-left col-md-3" data-ng-controller="ProfileCtrl">
                <div class="row" data-ng-repeat="profile in profiles">
                    <h2>{{profile.name}}</h2>
                    <div class="row">
                        <img src="{{profile.profilePic}}" width="275" height="275" height class="pull-left" />
                    </div>
                    <div class="row" >
                        <p>{{profile.bio}}</p>
                    </div>
                </div>
                <h2 align="left">Colleagues</h2>
                <div class="row" data-ng-controller="ColleaguesCtrl">
                <p data-ng-repeat="colleague in colleagues"><a  href="/User/{{colleague.ID}}">{{colleague.name}}</a></p>
                </div>
            </div>
    <div class="col-md-6">
    <h2><a class="btn-success btn pull-right" href="#" onclick="location.href='Post.html'" role="button">Post</a>Feed</h2>
    <div>
        <table class="table" style="height:100px; style=" verflow-y: scroll"">
            <thead>
                <tr>
                    <th>Subject:</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>By:</th>
                    <th>Name:</th>
                </tr>
            </thead>
            <tbody data-ng-controller="HomeFeedsCtrl">
                <tr data-ng-repeat="feed in feeds">
                    <td width="250em">
                        <a href="/Post/{{feed.postID}}"> {{feed.subject}} </a>
                    </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>


                    <td width="250em">
                        <a href="/{{feed.type}}/{{feed.ID}}">
                            <img src="{{feed.picture}}" width="50em" height="40em">                                                                    {{notification.groupName}}
                        </a>
                    </td>
                    <td>
                        <a href="/User/{{feed.uID}}"> {{feed.username}} </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
            <div class="col-md-3 pull-right" data-ng-controller="UserEventsCtrl">
                <h2 align="center">Events</h2>
                <div class="row"  style="height:175px; overflow-y: scroll;">
                    <div data-ng-repeat="e in events">
                        <h3 class="text-center">{{e.name}}</h3>
                        <p align="center"><b>Location: {{e.location}} </b> <b>Date: {{e.date}} </b><b>Time: {{e.time}} </b></p>
                        <p class="text-center"><a class="btn btn-default" href="/Event/{{e.ID}}" role="button">View details »</a></p>
                    </div>
                </div>
                <h2 align="center">Groups</h2>
                <div class="row" style="height:175px; overflow-y: scroll;" data-ng-controller="UserGroupsCtrl">
                    <div data-ng-repeat="group in groups">
                        <h3 class="text-center">{{group.name}}</h3>
                        <p align="center">{{group.faculty}}</p>
                        <p class="text-center"><a class="btn btn-default" href="/Group/{{group.ID}}" role="button">View details »</a></p>
                    </div>
                </div>
            </div>
            <!-- Example row of columns -->
        </div>
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <!-- /container -->
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
